body{
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.nav-link{
  padding: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing:-1;
  line-height: 53px;

  font-size: 18px;

}
.nav-link:hover{
  color: #745cf9 !important;

}
.navbar-brand{
  padding: 30px;
  font-size:2rem;
  margin-left:100px;

  color:#666666;
}
.navbar{
  width: 100%;
  padding:1rem;



}


.banner-img{
  position: relative;
  z-index: -1;
  height: 50%;
  width: 100%;
}
.heading{
  font-family: 'Raleway', sans-serif;

 /* text-align: center; */

  font-weight: 400;
   line-height:1;

  font-size: 100px;
  color: #fff;

}

.container-fluid{
  position:relative;

  color: white;


}
.text-block{
  position:absolute;
  top: 28%;
  left: 10%;
  padding:15%;
  padding-bottom: 15%;
  text-align: center;
}

.image-style{
  width: 100%;
  height: 100%;

}
.img-style{
  width: 100%;
  height: 100%;

}
.para{
  font-size: 1rem;
  color: #fff;
  padding: 2rem;
}
  /* line-height: 1; */

/* }
.btn{
  background-color: blue;
  padding:15px 32px;
  color: white;
  font-size: 16px;
  transition: uppercase;
  margin:4px 2px;
  cursor: pointer;
  width: 30%;
  height: 30%;
  font-size: 40px;
} */

.btn-dark{
  padding: 30px 110px;
  margin-right: 19px;
  color: white;
  background-color:#745cf9;
  text-transform: uppercase;
}
.btn-dark:hover{

    background-color:#6166B3;

}
.btn-white{
  padding: 30px 110px;
  color: white;


text-transform: uppercase;
}
.btn-white:hover{
background-color: white;
}
.SEO{
  padding-top: 5%;
  font-weight:300;
  font-size: 3rem;
  color: #0e1015;

}
.mid-img{
  margin: 10%;}
.para2{
  font-size: 1.5rem;
  font-weight: 100;
  font-family:  'Raleway', sans-serif;

  padding-top: 5%;
  padding-bottom: 3%;
    color:#8C979E
}
.para3{
  font-size: 1.5rem;
  font-weight: 100;
  font-family:  'Raleway', sans-serif;

  padding-top: 5%;
  padding-bottom: 3%;
  color:#8C979E}

.heading3{

  padding-top: 5%;
  font-weight:300;
  font-size: 3rem;
  color: #0e1015;

}
.btn2{
  margin: auto;
}

.row{
  margin: 8%;

}
.section4{
  position: relative;
  text-align: center;
  color: white;


}
.text-block1{
  position: absolute;
  top: 12%;
  /* right:30%; */
  /* padding-left: 30%; */




}
.bg-image
{
  position: relative;
  width: 100%;
  height: auto;
}
.
.texton h1{
    font-family: 'Raleway', sans-serif;
  text-align: center;


  font-size: 20px;

}

/* .kjk
{
  position: absolute;

}
.main-image
{
  position: relative;
} */

.d-block{
     /* border-radius: 50;
    height: 100px;
    margin-bottom: 16px; */
  -webkit-border-radius: 50%;
  display:block;
  margin-left: auto;
  margin-right: auto;

}
.t1{
      font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 1.3rem;
      color:white;
      padding-left:20%;

}

.t2{
      font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 1.3rem;
      color:white;
      padding-left:20%;


}

.head4{

  font-size:5rem;
  line-height: 64px;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0px;
  color:#ffffff;

  font-family:'Raleway','Helvetica Neue',Helvetica, Arial, sans-serif;
}
.para4{
  font-size: 1.5rem;
  font-weight:350;
padding: 2rem;
padding-left: 25%;
text-align: center;
padding-right: 20%;
}
.btn4{
  background-color:#745cf9;
}
.btn4:hover{
  background-color:#6166B3;
}
/* .section5{
  background-color: white;
  color: black;
  padding: 7%;
  text-align: center;
} */
.sec5 {

  margin-left: 700px;
  padding-top: 150px;
  padding-bottom: 29px;
  font-weight:300;

  color: #0e1015;
  }
  .font
  {
    font-size: 3rem;
    font-weight: 300;
  padd
  }
  .img5{

  padding: 0px 0px 0px 0px;
width: 20px;
 /* margin-left: auto;
 margin-right: auto; */
}
.banner-image
{
  width: 2100px;
  padding: 0px 120px  0px 120px
}

.sec-para{
  margin-left: 329px;
  margin-right: 280px;
  text-align: center;
  color: #8c979e;
  font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1.5rem;
}
.btn5{
  margin-top: 2rem;
  padding: 25px 65px;
  margin-right: 350px;
  color:white;
  background-color: #745cf9;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}
.sec8{
  position:relative;
  text-align: center;
  color: white;

}
.text-block3{
  position:absolute;

  top: 50%;
  padding-left: 30%;
}
.container-fluid{
  background-color: black;
}
.row2{
color: white;
padding-bottom: 120PX;
  clear: both;
  display: table;
  content: "";

}

.column2{
  /* flex: 33.33%; */

  float:left;
  width:25%;
}

.hello
{
  border: 2px solid red;
}
.r1{
  padding:3rem;
  padding-top: 8rem;

  padding-bottom: 1rem;
  text-align: center;
  font-family:  'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.p1{
padding:1.5rem;
padding-bottom: 2rem;
text-align: center;
font-size: 1.3rem;
font-family:  'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
}
/* #testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color:#ef8172;
  color: #fff;;
}

.carousel-item{
  padding: 7% 15%;
} */


.carousel-image
{
  width:10px;
  border-radius: 50%;
}
.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row{
  margin-right: -15px;
  margin-left: -15px;
}
.flex-viewport{
  max-height: 2000px;
}
.li{
  width: 200px;
  float:left;
  display: block;
}
.logo-carousel{
  opacity: .5;
}

.title{
  font-weight: 200;
}
/* }
.sec-last{
  background-color: white;
  margin: auto;
  text-align: center;
  padding-top: 9rem;
} */
